@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Wet+Paint&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Wet+Paint&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;


}

body{
    background-color: #bab0a7;
}

header{
    height: 50px;
}

nav{
    height: 100%;
    align-items: center;
    display: flex;
    box-shadow: 0px 0px 5px;
    padding-left: 10px;
    background-color: #513b35;
    color: white;

}

.logo{
    font-size: 20px;
    font-family: "Rubik Wet Paint", system-ui;

}

.container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.container form input{
    padding: 10px;
    width: 500px;
    outline: none;
    border-radius: 10px;
    border: none;
}

.addbtn{
    padding: 10px;
    background-color: #513b35;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    width: 100px;

}

.addbtn:hover{
    background-color: #9d7a5f;
}

.added{
    display: flex;
    justify-content: center;
    height: auto;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

}

.task{
    background-color: #9d7a5f;
    text-align: left;
    height: 50px;
    border-radius: 10px;
    color: #fff;
    font-size: small;
    align-items: center;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    width: 70%;
    padding-left: 10px;
    
}

.task p{
    overflow: hidden;
    width: 90%;

}

.complete{
 padding: 10px;
 border-radius: 10px;
 border: none;
 background-color: rgb(84, 126, 84);
 font-weight: bold;
 cursor: pointer;
 border: rgb(99, 156, 99) 3px outset;
 font-size: 18px;
 color: white;
 margin-left: 10px;
}

.complete:hover{
    scale: 0.964;
}

.editbtn{
    background-color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    border: 3px outset;
    color: black;
    font-size: 10px;

    
    


}

.editbtn:hover{
    color: black;
    scale: 0.964;

}




.deletebtn{
    border-radius: 10px;
    border: none;
    width: 80px;
    transition: 0.1s ease-out;
    cursor: pointer;
    font-weight: bold;
    background-color: #513b35;
    border: 3px outset #5e3f37;
    font-size: 10px;
    padding: 10px;
    color: white;
    margin: 5px;



}

.deletebtn:hover{
    scale: 0.964;
}

@media (max-width: 768px){
    
    header{
        height: 100px;
    }


    .addbtn{
        width: 100px;
    }

    .complete{
        margin-left: 1px;
    }

    .deletebtn{
        margin-left: 1px;
    }

   



    .task{
        background-color: #9d7a5f;
        text-align: left;
        height: 50px;
        border-radius: 10px;
        color: #fff;
        font-size: small;
        align-items: center;
        display: flex;
        font-weight: bold;
        justify-content: space-between;
        width: 90%;
        padding-left: 10px;
        
    }
    nav{
        align-items: center;
        justify-content: center;
        
    }
    
    .logo{
        font-size: 40px;
    }


    .container form input {
        width: 300px;
    }

    .task p{
        overflow: hidden;
        width: 50%;
    
    }

  

    #myform{
        flex-direction: column;
        display: flex;
        align-items: center;
        gap: 10px;
    }
}